<app-carousel-chips></app-carousel-chips>
<paper-list>
    <paper-list-item primary-title="Padron Electoral" secondary-title="Conozca el padron electoral de usuarios" icon-left="menu" icon-right="star"></paper-list-item>
    <paper-line></paper-line>
    <paper-list-item primary-title="Predios Agrícolas" secondary-title="Whats Up..." icon-left="menu" icon-right="star"></paper-list-item>
    <paper-line></paper-line>
    <paper-list-item primary-title="Predios por Canal" secondary-title="Whats Up..." icon-left="menu" icon-right="star"></paper-list-item>
    <paper-line></paper-line>
    <paper-list-item primary-title="Predios por Comisión" secondary-title="Resumen total de predios por comisión de usuarios" icon-left="menu" icon-right="star"></paper-list-item>

</paper-list>