<div class="module-options">
    <paper-button icon class="active">
        <paper-icon>face</paper-icon>
    </paper-button>
    <paper-button icon>
        <paper-icon>device_hub</paper-icon>
    </paper-button>
    <paper-button icon>
        <paper-icon>local_florist</paper-icon>
    </paper-button>
    <paper-button icon>
        <paper-icon>texture</paper-icon>
    </paper-button>
    <paper-button icon>
        <paper-icon>attach_money</paper-icon>
    </paper-button>
    <paper-button icon>
        <paper-icon>timeline</paper-icon>
    </paper-button>
</div>
<paper-list>
    <paper-list-item primary-title="Padron Electoral" secondary-title="Conozca el padron electoral de usuarios" icon-left="menu" icon-right="star"></paper-list-item>
    <paper-line></paper-line>
    <paper-list-item primary-title="Predios Agrícolas" secondary-title="Whats Up..." icon-left="menu" icon-right="star"></paper-list-item>
    <paper-line></paper-line>
    <paper-list-item primary-title="Predios por Canal" secondary-title="Whats Up..." icon-left="menu" icon-right="star"></paper-list-item>
    <paper-line></paper-line>
    <paper-list-item primary-title="Predios por Comisión" secondary-title="Resumen total de predios por comisión de usuarios" icon-left="menu" icon-right="star"></paper-list-item>

</paper-list>