<app-carousel-chips></app-carousel-chips>
<paper-list>
    <paper-list-item primary-title="Declaración de Intensión de Siembra" secondary-title="Conozca el padron electoral de usuarios" icon-left="menu" icon-right="star"></paper-list-item>
    <paper-line></paper-line>
    <paper-list-item primary-title="Avance de la DIS" secondary-title="Whats Up..." icon-left="menu" icon-right="star"></paper-list-item>
    <paper-line></paper-line>
    <paper-list-item primary-title="Balance Hídrico" secondary-title="Whats Up..." icon-left="menu" icon-right="star"></paper-list-item>
    <paper-line></paper-line>
    <paper-list-item primary-title="Resumen PCR" secondary-title="Resumen total de predios por comisión de usuarios" icon-left="menu" icon-right="star"></paper-list-item>

</paper-list>