<nice-loader api-key="AIzaSyBLF11XmoFl4VedETvlRVo5hJBkICgzTIc"></nice-loader>
<nice-map api-key="AIzaSyBLF11XmoFl4VedETvlRVo5hJBkICgzTIc"></nice-map>
<div class="input-container">
	<div class="row">
		<div>
			<paper-icon>menu</paper-icon>
		</div>
		<div class="flexchild">
			<input type="text" placeholder="Busca un predio"/>
			</div>
		<div>
			<paper-icon>more_vert</paper-icon>
		</div>
	</div>

</div>
<div class="chip-container"  style="width:100%">
		<app-carousel-chips></app-carousel-chips>
</div>

<div class="footer-container">
	<div class="footer-logo"></div>
	<div class="footer-title"></div>
	<div class="footer-description"></div>
		
</div>