<nice-map></nice-map>
<div id="input-container">
	<div class="row">
		<div>
			<paper-icon>menu</paper-icon>
		</div>
		<div class="flexchild">
			<input type="text" placeholder="Busca un predio"/>
			</div>
		<div>
			<paper-icon>more_vert</paper-icon>
		</div>
	</div>
	
</div>
<div id="chip-container" ref="#template-chips"  style="width:100%">
</div>

<script id="template-chips" type="text/template">
	<div class="row">
	<% _.each(data, function(item){ %>
		<div>
			<paper-chip label="<%= item.name%>"></paper-chip>
		</div>
	<% }); %>
	</div>
</script>
