<custom-style>
	<style></style>
</custom-style>
<img id="logo" src="/images/logo.svg">
<h1>SIGMA</h1>
<h3>CLOUD</h3>
<h5>Ingrese su nombre de usuario y contraseña para iniciar sesión</h5>
<div id="container">
	<paper-input id="txtUser" color="white" floating-label="Usuario" value="hello world"></paper-input>
	<paper-input id="txtPassword" color="white" floating-label="Contraseña"></paper-input>
	<paper-button id="btnLogin" raised fullwidth="true" bgcolor="#2196f3">Entrar</paper-button>

</div>
