<div class="slider js_multislides multislides">
    <div class="frame js_frame">
        <ul class="slides js_slides">
            <li class="js_slide" style="width:125px;">
                <paper-chip id="pad" label="Padron" icon="face"></paper-chip>
            </li>
            <li class="js_slide" style="width:150px;">
                <paper-chip id="inv" label="Inventario" icon="device_hub"></paper-chip>
            </li>
            <li class="js_slide" style="width:110px;">
                <paper-chip id="pcr" label="PCR" icon="local_florist"></paper-chip>
            </li>
            <li class="js_slide" style="width:110px;">
                <paper-chip id="pda" label="PDA" icon="texture"></paper-chip>
            </li>
            <li class="js_slide" style="width:130px;">
                <paper-chip id="tar" label="Tarifas" icon="attach_money"></paper-chip>
            </li>
            <li class="js_slide" style="width:160px;">
                <paper-chip id="hid" label="Hidrometria" icon="timeline"></paper-chip>
            </li>
        </ul>
    </div>
    
</div>
