<module-options selectedIndex="0"></module-options>
<paper-list>
    <paper-list-item primary-title="Inventario de Canales" secondary-title="Conozca el padron electoral de usuarios" icon-left="menu" icon-right="star"></paper-list-item>
    <paper-line></paper-line>
    <paper-list-item primary-title="Canales por Comision" secondary-title="Whats Up..." icon-left="menu" icon-right="star"></paper-list-item>
    <paper-line></paper-line>
    <paper-list-item primary-title="Drenes" secondary-title="Whats Up..." icon-left="menu" icon-right="star"></paper-list-item>
    <paper-line></paper-line>
    <paper-list-item primary-title="Bloques de Riego" secondary-title="Resumen total de predios por comisión de usuarios" icon-left="menu" icon-right="star"></paper-list-item>

</paper-list>