<paper-button id="pad" icon>
    <paper-icon>face</paper-icon>
</paper-button>
<paper-button id="inv" icon>
    <paper-icon>device_hub</paper-icon>
</paper-button>
<paper-button id="pcr" icon>
    <paper-icon>local_florist</paper-icon>
</paper-button>
<paper-button id="pda" icon>
    <paper-icon>texture</paper-icon>
</paper-button>
<paper-button id="tar" icon>
    <paper-icon>attach_money</paper-icon>
</paper-button>
<paper-button id="hid" icon>
    <paper-icon>timeline</paper-icon>
</paper-button>
