<h1>SIGMA</h1>
<h3>CLOUD</h3>
<h5>Profile</h5>
<h2> THIS IS THE STEPPER COMPONENT</h2>
<paper-dropdown bg-color="#2196F3" label="SELECT PAGE">

</paper-dropdown>
<!--
<nice-stepper data-selected-color="red">
	<nice-step>
		<h3>Form1</h3>
		<form>
			<paper-input id="txtUser" color="white" floating-label="Nombre"></paper-input>
			<paper-input id="txtUser" color="white" floating-label="Apellido"></paper-input>
		</form>
	</nice-step>
	<nice-step>
		<h3>Form2 </h3>
		<form>
			<paper-input id="txtUser" color="white" floating-label="Username"></paper-input>
			<paper-input id="txtUser" color="white" floating-label="Email"></paper-input>
		</form>
	</nice-step>
	<nice-step>
		<h3>Form3 </h3>
		<form>
			<paper-input id="txtUser" color="white" floating-label="Tlf"></paper-input>
			<paper-input id="txtUser" color="white" floating-label="Direccion"></paper-input>
		</form>
	</nice-step>
</nice-stepper>
-->
