<h1>SIGMA</h1>
<h3>CLOUD</h3>
<h5>Profile</h5>
<h2> THIS IS THE STEPPER COMPONENT</h2>
<!--
<paper-dropdown label="Options" default-value="Select an option">
	<paper-dropoption value="1">Option 1</paper-dropoption>
	<paper-dropoption value="2">Option 2</paper-dropoption>
	<paper-dropoption value="3">Option 3</paper-dropoption>
	<paper-dropoption value="4">Option 4</paper-dropoption>
</paper-dropdown>
-->

<nice-stepper data-selected-color="red">
	<nice-step>
		<form>
			<paper-input id="camp_agricola" color="white" floating-label="Campaña Agricola">
			</paper-input>
			<paper-input id="tipo_declarante" color="white" floating-label="Tipo de Declarante">
			</paper-input>
			<paper-input id="predio" color="white" floating-label="Predio">
			</paper-input>
			<paper-input id="canal" color="white" floating-label="Canal">
			</paper-input>
		</form>
	</nice-step>
	<nice-step>
		<form>
			<paper-input id="txtUser" color="white" floating-label="Username"></paper-input>
			<paper-input id="txtUser" color="white" floating-label="Email"></paper-input>
		</form>
	</nice-step>
	<nice-step>
		<form>
			<paper-input id="txtUser" color="white" floating-label="Tlf"></paper-input>
			<paper-input id="txtUser" color="white" floating-label="Direccion"></paper-input>
		</form>
	</nice-step>
</nice-stepper>
