<paper-list id="results-container">
	<!-- <paper-list-item cmp="inv-canales" primary-title="Inventario de Canales" secondary-title="Conozca el padron electoral de usuarios" icon-left="menu"></paper-list-item>
	<paper-line></paper-line>
	<paper-list-item cmp="inv-drenes" primary-title="Canales por Comision" secondary-title="Whats Up..." icon-left="menu"></paper-list-item>
	<paper-line></paper-line>
	<paper-list-item primary-title="Drenes" secondary-title="Whats Up..." icon-left="menu"></paper-list-item>
	<paper-line></paper-line> -->
</paper-list>
<app-modal></app-modal>
